
.cartItem {
    display: flex;
}

.cartItem img {
    flex: 1;
}

.cartItem .productInfo {
    flex: 1;
}

.cartItem .quantity {
    flex: 1;
}

.cartItem .total {
    flex: 1;
}

.cartItem .remove {
    flex: 1;
}